<html>
    <head>
        <title>foo</title>
    </head>
    <body>
        <form action="/oauth/authorize" method="post">
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" name="user" value="">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" name="pass" value="">
            </div>
            <input type="hidden" name="logintype" value="login">
            <input type="hidden" name="pid" value="54">
            <button type="submit">Login</button>
        </form>
    </body>
</html>
