includes:
    - .Build/vendor/saschaegerer/phpstan-typo3/extension.neon

parameters:
	level: 7
	paths:
		- Classes/
	ignoreErrors:
		- "#^Cannot call method fetchAll\\(\\) on Doctrine\\\\DBAL\\\\Driver\\\\Statement\\|int\\.$#"

