includes:
	- .Build/vendor/saschaegerer/phpstan-typo3/extension.neon

parameters:
	level: 8
	ignoreErrors:
		- identifier: missingType.iterableValue
		- '#Cannot call method [a-z]+\(\) on Psr\\Log\\LoggerInterface\|null#'
		- '#Variable \$_EXTKEY might not be defined\.#'
	paths:
		- Classes/
		- Tests/
	typo3:
		requestGetAttributeMapping:
			oauth_scopes: array|null
			oauth_user_id: int|null
			oauth_access_token_id: string|null
			oauth2.route: \Symfony\Component\Routing\Route|null
			oauth2_constraints: array|string|null
