body {
    background-color: #eeeeee;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border: 1px solid #dddddd;
    background-color: #fefefe;
    max-width: 100%;
    width: 320px;
}

.brand {
    text-align: center;
}
.brand svg {
    max-width: 70%;
    height: auto;
}
