<f:layout name="Default"/>

<f:section name="Main">
    <h3><f:translate key="label.consent" /></h3>
    <p><f:format.raw><f:translate key="label.client_consent_request" arguments="{0: '{client.name}'}"/></f:format.raw></p>
    <f:if condition="{scopes}">
        <ul class="scopes">
            <f:for each="{scopes}" as="scope" iteration="i">
                <f:if condition="{scope.consent}">
                    <li><f:translate key="{f:if(condition: '{scope.description}', then: '{scope.description}', else: 'scope_{scope.identifier}')}">{scope.identifier}</f:translate></li>
                </f:if>
            </f:for>
        </ul>
    </f:if>
    <div class="actions">
        <div class="action">
            <f:form actionUri="/{configuration.routePrefix}/authorize" method="post" requestToken="{requestToken}">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn-deny" type="submit"><f:translate key="label.button_deny"/></button>
            </f:form>
        </div>
        <div class="action">
            <f:form actionUri="/{configuration.routePrefix}/authorize" method="post" requestToken="{requestToken}">
                <button class="btn-approve" type="submit"><f:translate key="label.button_approve"/></button>
            </f:form>
        </div>
    </div>

</f:section>
