<f:layout name="Default"/>

<f:section name="Main">
    <h3><f:translate key="label.consent" /></h3>
    <p><f:format.raw><f:translate key="label.client_consent_request" arguments="{0: '{client.name}'}"/></f:format.raw></p>
    <f:if condition="{scopes}">
        <dl clas="scopes">
            <f:for each="{scopes}" as="scope" iteration="i">
                <f:if condition="{scope.consent}">
                    <dt>{scope.identifier}</dt>
                    <dd><f:translate key="{f:if(condition: '{scope.description}', then: '{scope.description}', else: 'scope_{scope.identifier}')}">{scope.description}</f:translate></dd>
                </f:if>
            </f:for>
        </dl>
    </f:if>
    <div class="row">
        <div class="col">
            <form action="/{configuration.routePrefix}/authorize" method="post">
                <button class="btn btn-success btn-block" type="submit"><f:translate key="label.button_approve"/></button>
            </form>
        </div>
        <div class="col">
            <form action="/{configuration.routePrefix}/authorize" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger btn-block" type="submit"><f:translate key="label.button_deny"/></button>
            </form>
        </div>
    </div>

</f:section>
