services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false
    bind:


  R3H6\Oauth2Server\:
    resource: '../Classes/*'

  R3H6\Oauth2Server\Hook\:
    resource: '../Classes/Hook/*'
    public: true

  R3H6\Oauth2Server\Controller\:
    resource: '../Classes/Controller/*'
    public: true

  R3H6\Oauth2Server\Domain\Repository\ClientRepository:
    calls:
      - initializeObject: []

  R3H6\Oauth2Server\Domain\Repository\UserRepository:
    calls:
      - initializeObject: []

  League\OAuth2\Server\AuthorizationServer:
    factory: '@R3H6\Oauth2Server\Domain\Factory\AuthorizationServerFactoryInterface'
    public: true

  R3H6\Oauth2Server\Domain\Factory\AuthorizationServerFactoryInterface:
    class: R3H6\Oauth2Server\Domain\Factory\AuthorizationServerFactory

  League\OAuth2\Server\ResourceServer:
    factory: '@R3H6\Oauth2Server\Domain\Factory\ResourceServerFactoryInterface'
    public: true

  R3H6\Oauth2Server\Domain\Factory\ResourceServerFactoryInterface:
    class: R3H6\Oauth2Server\Domain\Factory\ResourceServerFactory

  League\OAuth2\Server\Repositories\AccessTokenRepositoryInterface:
    class: R3H6\Oauth2Server\Domain\Bridge\AccessTokenRepository

  League\OAuth2\Server\Repositories\RefreshTokenRepositoryInterface:
    class: R3H6\Oauth2Server\Domain\Bridge\RefreshTokenRepository

  League\OAuth2\Server\Repositories\AuthCodeRepositoryInterface:
    class: R3H6\Oauth2Server\Domain\Bridge\AuthCodeRepository

  League\OAuth2\Server\Repositories\UserRepositoryInterface:
    class: R3H6\Oauth2Server\Domain\Repository\UserRepository

  League\OAuth2\Server\Repositories\ScopeRepositoryInterface:
    class: R3H6\Oauth2Server\Domain\Repository\ScopeRepository

  League\OAuth2\Server\Repositories\ClientRepositoryInterface:
    class: R3H6\Oauth2Server\Domain\Repository\ClientRepository
